
//#############################################################//
//########################### HOME ############################//
//#############################################################//

main.Home{
    min-width: 100%;
    min-height: 100vh;
    color: #fff;
    background-color: var(--color1);
    overflow-y: scroll;

    .top{
        width: 100%;
        height: 90vh;
        display: flex;
        .texts{
            min-width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1.title{
                font-size: 82px;
                margin-bottom: 20px;
            }
            h3.subtext{
                font-size: 24px;
            }
            button.login{
                width: 300px;
                height: 40px;
                margin: 40px 0;
                background-color: var(--color3);
                border: none;
                border-radius: 20px;
                color: var(--color4);
                font-size: 100%;
                font-weight: 600;
                cursor: pointer;
            }
        }
        .rightSide{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{width: 90%;height: fit-content;}
        }
    }
    .middle{
        background-color: var(--color4);
        width: 100%;
        min-height: 30vh;
        padding: 10px;
        color: var(--color1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h1{font-size: 24px;}
        .app-list{
            margin-top: 10px;
            display: flex;

            .app{
                height: 10vh;
                width: 20%;
                background-color: var(--color1);
                border-radius: 20px;
                color: var(--color4);
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-left: 20px;
                
                h3{font-size: 24px;}
                img{height: 6vh}
                cursor: pointer;
            }
            
        }
    }
    .bottom{
        background-color: var(--color1);
        width: 100%;
        min-height: 30vh;
        padding: 10px;
        color: var(--color4);
        display: flex;
        flex-direction: column;
        justify-content: center;

        .texts{
            display: flex;
            justify-content: space-around;
            .textbox{
                height: 30vh;
                width: 40%;
                padding: 10px; 
                border-radius: 20px;
                background-color: var(--color2);
    
                h3{width: 50%;  color: var(--color4); font-size: 22px; font-weight: 400; border-right: 3px solid var(--color4); height: calc(30vh - 20px); padding: 0 10px; text-align: center; display: flex; align-items: center;}
            
            }
        }
    }
}





::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color4);
    border-radius: 6px;
}
* {
    scrollbar-color: var(--color4) transparent;
}