main.NotFound{
    background-color: var(--color1);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--color4);
    padding: 50px 0;
    
    img{
        height: 60vh;
    }
    .text{display: flex; align-items: center;flex-direction: column;}
    h1{font-size: 48px;}
    h3{font-size: 22px; font-weight: 400;}
    a{color: var(--color4);}

}