@mixin NavBar_landscape{
    nav.NavBar{
        background-color: var(--sidecolor);
        width: 100px;
        height: 96vh;
        border-radius: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
        .logo{
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            background-color: var(--opposite);
            cursor: pointer;
            
            img{ width: 45px; filter: invert(var(--logo)); }
            #menu{display: none;}
        }
        
        .modes{
            height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            
            .option{
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                width: 90px;
                height: 90px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                
                img{ filter: invert(var(--invert)); width: 30px; }
                h3{
                    font-size: 16px;
                    margin-top: 10px;
                    font-weight: 400;
                    color: var(--opposite);
                }
            }
            .active{ background-color: var(--main); }
        }
        .theme{
            margin: 10px 0;
            cursor: pointer;
            
            img{ width: 40px; filter: invert(var(--invert)); }
        }
    }
}
@mixin Dashboard_landscape{
    .Dashboard{
        color: var(--opposite);
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .portrait{display: none;}
        .landscape{
            display: flex;
            background-color: var(--main);
            .today{
                height: 96vh;
                width: calc(100% - max(20%, 300px));
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                
                .top{
                    width: 95%;
                    height: 35vh;
                    display: flex;
                    justify-content: space-between;
                    
                    .text-data{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        max-width: 60%;
                        
                        .location{
                            display: flex;
                            align-items: center;
                            img{ height: 42px; filter: invert(var(--invert)); margin: 0 10px; }
                            h1{ font-size: 54px; color: var(--opposite); font-weight: 300; }
                        }
                        h1.temperature{
                            font-size: 72px;
                            font-weight: 500;
                            color: var(--opposite);
                            margin-inline: auto;
                        }
                    }
                    .visual-data{
                        width: 20%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 40vh;
                        margin-right: 10%;
                        img{ width: 100%;}
                    }
                }
    
                .bottom{
                    background-color: var(--sidecolor);
                    color: var(--opposite);
                    width: 95%;
                    height: 50vh;
                    border-radius: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-around;
                    overflow-y: auto;
                    padding-top: 20px;
    
                    .measurement{
                        width: 30%;
                        height: 20vh;
                        min-width: 300px;
                        cursor: pointer;
    
                        .data{
                            width: 100%;
                            height: 20vh;
                            display: flex;
                            align-items: center;
                            justify-content: center;
    
                            .left{
                                display: flex;
                                align-items: center;
                                justify-content: right;
                                img{width: 90px;}
                            }
                            .right{
                                border-left: 1px solid #fff;
                                padding-left: 10px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                margin: 0 10px;
                                h3{font-size: max(200%, 36px);}
                                h3.title{font-size: 150%; font-weight: 400;}
                            }
                        }
                    }
                    .measurement:hover{
                        background-color: var(--main);
                        border-radius: 20px;
                    }
                }
            }
            .week{
                background-color: var(--main);
                border: 2px solid var(--sidecolor);
                padding: 5px;
                min-width: 300px;
                width: 20%;
                height: 90vh;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
    
                h3{ margin: 10px; }
                .daysWrapper{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .day{
                        width: 100%;
                        height: 10vh;
                        background-color: var(--sidecolor);
                        border-radius: 20px;
                        display: flex;
                        align-items: center;
                        margin: 5px 0;
                        justify-content: space-around;
                        cursor: pointer;
        
                        img{height: 40px;}
                        h3{margin: 0 5px}
                    }
                    .currentDay{background: var(--main);}
                }
            }
        }
    }
}
@mixin Map_landscape{
    #map{
        margin-left: 20px;
        cursor: pointer;
        
        .custom-icon{
            display: flex;
            flex-direction: column;
            display: flex;
            min-width: none;
            max-width: none;
            width: max-content;
            align-items: center;
            justify-content: center;
        }
        .marker{
            color: #fffbff;
            font-size: 10px;
            width: fit-content;
            padding: 5px 10px;
            display: flex;
            border-radius: 20px;
            text-align: center;
            background-color: #f03;
            font-weight: 600;
            width: fit-content;
            white-space: nowrap;
    
            .data{
                display: none;
                position: absolute;
                transform: translateY(100%);
                bottom: -20px;
                left: -50;
                font-weight: 600;
                background-color: var(--main);
                color: var(--opposite);
                min-width: 150px;
                flex-direction: column;
                justify-content: space-evenly;
                padding: 5px;
                border-radius: 10px;
    
                h1{
                    font-size: 16px;
                    text-align: left;
                    white-space:nowrap;
                    margin: 5px 10px;
                }
                h3{
                    text-align: left;
                    margin: 1px 10px;
                }
            }
            .data{display: flex;}
        }
        .outOfScope{
            color: #fffbff;
            font-size: 10px;
            width: fit-content;
            padding: 5px 10px;
            border-radius: 20px;
            text-align: center;
            width: fit-content;
            white-space: nowrap;
            background: #333333ff;
            .data{display: none;}
        }
        .user{
            color: var(--opposite);
            font-size: 10px;
            width: fit-content;
            padding: 5px 10px;
            display: flex;
            border-radius: 20px;
            text-align: center;
            background-color: #000EA8;
        }
        .selected{
            color: var(--opposite);
            font-size: 10px;
            width: fit-content;
            padding: 5px 10px;
            display: flex;
            border-radius: 20px;
            text-align: center;
            background-color: #266c1a;

            #custom-menu{
                min-width: 190px;
                height: max-content;
                position: absolute;
                z-index: 1000;
                display: flex;
                flex-direction: column;
                color: #202124;
                background-color: #fff;
                line-height: 1.5rem;
                font-size: 1rem;
    
                .option{
                    width: 100%;
                    margin: 4px 0;
                    transition: background-color 0.1s ease;
                    cursor: pointer;
                    font-weight: 500;
                    display: flex;
                    padding-right: 10px;
                    align-items: center;
                    padding-left: 10px;
                }
                .option:hover{
                    background-color: #eae4ea;
                }
            }
        }
    }
    
}
@mixin Loading_landscape{
    .loading{
        width: 100%;
        height: 96vh;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .atom{
            background-color: var(--sidecolor);
            display: flex;
            width: fit-content;
            align-items: center;
            justify-content: center;
            padding: 20px;
            border-radius: 20px;
            margin: 20px 0;
        }
        h1{
            margin: 20px 0;
            font-weight: 500;
            font-size: 36px;
            color: var(--opposite);
        }
    }
}

@mixin portrain{

}

@media screen and (orientation: landscape) {
    .Air{
        padding: 2vh;
        display: flex;
        background: var(--main);
        @include NavBar_landscape();
        @include Dashboard_landscape();
        @include Map_landscape();

        @include Loading_landscape()
    }
}
@media screen and (orientation: portrait) {
    @include portrain();
}