@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color1: #0a111e;
  --color2: #1f283b;
  --color3: #007cff;
  --color4: #f0f0f2;
  --invert: 1;
  --logo: 0;
}
.lightmode {
  --color1: #f5f5f5;
  --color2: #eaecef;
  --color3: #007cff;
  --color4: #1f283b;
  --invert: 0;
  --logo: 1;
}
