@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body{
  max-width: 100%;
  overflow-x: hidden;
}

:root{
	--red: #e13847;
	--light-blue: #3bb1f2;
	--neon-blue: #007cff;
	--dark-blue: #324960;
	--light-green: #8aef89;
	--green: #38c91f;
	--dark-green: #16a085;
	--purple: #8e44ad;
	--purplish-blue: #5f52f0;
	--blue-genie: #6d60f8;
	--orange: #edb04e;
	--black-feather: #0c1c25;
	--black-beauty: #22252c;
	--aswad-black: #16181c;
	--tristesse-black: #0a111e;
	--navy-gray: #26384b;
	--midnight-gray: #1f283b;
	--dracula-gray: #2a3338;
	--white-smoke: #f5f5f5;
	--bright-gray: #eaecef;
	--teal: #028090;
	--mulberry: #C64191;
	--tea-green: #C0F8D1;
	--celtic-blue: #276FBF;
	--rich-black: #03191E;
	--light-orange: #e6c8b6;
  
	--light-pink: #fcd9d9;
	--mystic-opal: #fcdec0;
	--waterfalls: #d7e4ff;
    	--seafoam-pearl: #c6f1da;
    	--bahaman-blis: #3da497;
  
    	--grass-green: #6fd103;
    	--maui-mist: #e7ebee;
	--volcanic-sand: #3e3e47;

	--g-blue1: rgba(4,90,183,1);
	--g-blue2: rgba(23,160,222,1);

	--g-green1: #59c158;
	--g-green2: #59c158;

	--g-red1: #ee4534;
	--g-red2: #f1793a;

	--g-orange1: #f09438;
	--g-orange2: #edb73e;

	--g-purple1: #4710e1;
	--g-purple2: #5122fc;
}
