:root {
  --color1: #0a111e;
  --color2: #1f283b;
  --color3: #007cff;
  --color4: #f0f0f2;
  --invert: 1;
  --logo: 0;
}

.lightmode {
  --color1: #f5f5f5;
  --color2: #eaecef;
  --color3: #007cff;
  --color4: #1f283b;
  --invert: 0;
  --logo: 1;
}

main.Weather {
  min-width: 100%;
  min-height: 100vh;
  color: var(--color4);
  background-color: var(--color1);
  padding: 2vh;
  display: flex;
}
main.Weather .mainContent {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main.Weather .mainContent .today {
  height: 96vh;
  width: calc(100% - max(20%, 300px));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main.Weather .mainContent .today .top {
  width: 95%;
  height: 40vh;
  display: flex;
  justify-content: space-between;
}
main.Weather .mainContent .today .top .text-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 60%;
}
main.Weather .mainContent .today .top .text-data .location {
  display: flex;
  align-items: center;
}
main.Weather .mainContent .today .top .text-data .location img {
  height: 42px;
  filter: invert(var(--invert));
  margin: 0 10px;
}
main.Weather .mainContent .today .top .text-data .location h1 {
  font-size: 54px;
  color: var(--color4);
  font-weight: 300;
}
main.Weather .mainContent .today .top .text-data h1.temperature {
  font-size: 72px;
  font-weight: 500;
  color: var(--color4);
  margin-inline: auto;
}
main.Weather .mainContent .today .top .visual-data {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  margin-right: 10%;
}
main.Weather .mainContent .today .top .visual-data img {
  width: 100%;
}
main.Weather .mainContent .today .bottom {
  background-color: var(--color2);
  width: 95%;
  height: 50vh;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  overflow-y: auto;
}
main.Weather .mainContent .today .bottom .measurement {
  width: 30%;
  height: 20vh;
  min-width: 300px;
}
main.Weather .mainContent .today .bottom .measurement .data {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main.Weather .mainContent .today .bottom .measurement .data .left {
  display: flex;
  align-items: center;
  justify-content: right;
}
main.Weather .mainContent .today .bottom .measurement .data .left img {
  width: 90px;
}
main.Weather .mainContent .today .bottom .measurement .data .right {
  border-left: 1px solid #fff;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
main.Weather .mainContent .today .bottom .measurement .data .right h3 {
  font-size: max(200%, 36px);
}
main.Weather .mainContent .today .bottom .measurement .data .right h3.title {
  font-size: 150%;
  font-weight: 400;
}
main.Weather .mainContent .week {
  background-color: var(--color2);
  min-width: 300px;
  width: 20%;
  height: 96vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
main.Weather .mainContent .week h3 {
  margin: 10px;
}
main.Weather .mainContent .week .daysWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.Weather .mainContent .week .daysWrapper .day {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  border-bottom: 4px solid var(--color1);
  justify-content: space-around;
}
main.Weather .mainContent .week .daysWrapper .day img {
  height: 40px;
}
main.Weather .mainContent .week .daysWrapper .day h3 {
  margin: 0 5px;
}
main.Weather .mainContent .week .daysWrapper .currentDay {
  background-color: var(--color1);
  width: 96%;
  border-radius: 20px;
}
main.Weather .mainContent .week .daysWrapper .before {
  border: none;
}/*# sourceMappingURL=Weather.css.map */