:root{
    --color1: #0a111e;
    --color2: #1f283b;
    --color3: #007cff;
    --color4: #f0f0f2;
    --invert: 1;
    --logo: 0;
}

.lightmode{
    --color1: #f5f5f5;
    --color2: #eaecef;
    --color3: #007cff;
    --color4: #1f283b;
    --invert: 0;
    --logo: 1;
}


//#############################################################//
//######################## WEATHER APP ########################//
//#############################################################//

main.Weather{
    min-width: 100%;
    min-height: 100vh;
    color: var(--color4);
    background-color: var(--color1);
    padding: 2vh;
    display: flex;

    nav.sidebar{
        background-color: var(--color2);
        width: 100px;
        height: 96vh;
        border-radius: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
        .logo{
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            background-color: var(--color4);
    
            img{
                width: 45px;
                filter: invert(var(--logo));
            }
        }
    
        .modes{
            height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
    
            .option{
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                width: 90px;
                height: 90px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
    
                img{
                    filter: invert(var(--invert));
                    width: 30px;
                }
                h3{
                    font-size: 16px;
                    margin-top: 10px;
                    font-weight: 400;
                }
            }
            .active{
                background-color: var(--color1);
            }
        }
        .theme{
            margin: 10px 0;
            cursor: pointer;
    
            img{
                width: 40px;
                filter: invert(var(--invert));
            }
        }
    }

    .mainContent{
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .today{
            height: 96vh;
            width: calc(100% - max(20%, 300px));
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            //border: 1px solid #fff;

            .top{
                width: 95%;
                height: 40vh;
                display: flex;
                justify-content: space-between;

                .text-data{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    max-width: 60%;

                    .location{
                        display: flex;
                        align-items: center;
                        img{
                            height: 42px;
                            filter: invert(var(--invert));
                            margin: 0 10px;
                        }
                        h1{
                            font-size: 54px;
                            color: var(--color4);
                            font-weight: 300;
                        }
                    }
                    h1.temperature{
                        font-size: 72px;
                        font-weight: 500;
                        color: var(--color4);
                        margin-inline: auto;
                    }
                }
                .visual-data{
                    width: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40vh;
                    margin-right: 10%;

                    img{
                        width: 100%;
                    }
                }
            }

            .bottom{
                background-color: var(--color2);
                width: 95%;
                height: 50vh;
                border-radius: 20px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                overflow-y: auto;

                .measurement{
                    width: 30%;
                    height: 20vh;
                    min-width: 300px;

                    .data{
                        width: 100%;
                        height: 20vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .left{
                            display: flex;
                            align-items: center;
                            justify-content: right;
                            img{width: 90px;}
                        }
                        .right{
                            border-left: 1px solid #fff;
                            padding-left: 10px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin: 0 10px;
                            h3{font-size: max(200%, 36px);}
                            h3.title{font-size: 150%; font-weight: 400;}
                        }
                    }
                }
            }
        }
        .week{
            background-color: var(--color2);
            min-width: 300px;
            width: 20%;
            height: 96vh;
            border-radius: 20px;
            display: flex;
            flex-direction: column;

            h3{
                margin: 10px;
            }
            .daysWrapper{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .day{
                    width: 100%;
                    height: 10vh;
                    display: flex;
                    align-items: center;
                    border-bottom: 4px solid var(--color1);
                    justify-content: space-around;
    
                    img{height: 40px;}
                    h3{margin: 0 5px}
                }
                .currentDay{background-color: var(--color1); width: 96%; border-radius: 20px;}
                .before{
                    border: none;
                }
            }
        }
    }
}