:root{
    --color1: #0a111e;
    --color2: #1f283b;
    --color3: #007cff;
    --color4: #f0f0f2;
    --invert: 1;
    --logo: 0;
}

.lightmode{
    --color1: #f5f5f5;
    --color2: #eaecef;
    --color3: #007cff;
    --color4: #1f283b;
    --invert: 0;
    --logo: 1;
}

main.Weather{
    min-width: 100%;
    min-height: 100vh;
    color: var(--color4);
    background-color: var(--color1);
    padding: 2vh;

    nav.sidebar{
        background-color: var(--color2);
        width: 100px;
        height: 96vh;
        border-radius: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .logo{
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            background-color: var(--color4);

            img{
                width: 45px;
                filter: invert(var(--logo));
            }
        }

        .modes{
            height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            .option{
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                width: 90px;
                height: 90px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
    
                img{
                    filter: invert(var(--invert));
                    width: 30px;
                }
                h3{
                    font-size: 16px;
                    margin-top: 10px;
                    font-weight: 400;
                }
            }
            .active{
                background-color: var(--color1);
            }
        }
        .theme{
            margin: 10px 0;
            cursor: pointer;

            img{
                width: 40px;
                filter: invert(var(--invert));
            }
        }
    }
}